.area {
  fill: steelblue;
}

.visual {
    padding: 10px;
    width: 420px;
    border: 2px solid #eee;
    display: inline-block;
}
.visual.active {
    border-color: yellow;
}

.spaced-top {
    margin-top: 1.5rem;
}
.p-padded-top {
    padding-top: 0.75rem;
}
